// app global css in Sass form

// Font setup ======================================================================================
h1
  font-size: 3.75rem
h2
  font-size: 3rem
h3
  font-size: 2.125rem
h4
  font-size: 1.5rem
h5
  font-size: 1.25rem
h6
  font-size: 1.125rem

.font-bigger-4
  font-size: 2rem

.font-bigger-3
  font-size: 1.5rem

.font-bigger-2
  font-size: 1.3rem

.font-bigger-1
  font-size: 1.1rem

.font-normal
  font-size: 1rem

.font-smaller-1
  font-size: 0.9rem

.font-smaller-2
  font-size: 0.75rem

.font-smaller-3
  font-size: 0.6rem

.font-smaller-4
  font-size: 0.5rem

// Color classes ===================================================================================
.text-primary
  color: $primary
.text-secondary
  color: $secondary
.text-accent
  color: $accent

.text-dark
  color: $dark
.text-light
  color: $light
.text-darkestgrey
  color: $darkestgrey
.text-darkgrey
  color: $darkgrey
.text-lightgrey
  color: $lightgrey

.text-positive
  color: $positive
.text-negative
  color: $negative
.text-info
  color: $info
.text-warning
  color: $warning

// Text display
.text-wrap
  overflow-wrap: anywhere

.text-no-hyphens
  hyphens: manual

// Card formatting
.card-border
  border-width: 1px
  border-style: solid
  border-color: $lightgrey

.card-border:hover
  border-width: 1px
  border-style: solid
  border-color: $primary
  cursor: pointer

// Site formatting =================================================================================
.all-content-format
  max-width: 600px

.page-margin
  margin: 1rem 0.5rem 0
